/* Button default */

button {
    display: flex;
    padding: var(--spacing-200, 12px) var(--spacing-300, 16px);
    justify-content: center;
    align-items: center;
    gap: var(--spacing-200, 12px);
    border-radius: var(--border-radius-large, 50px);
    background: var(--color-bg-brand-default, #3A71FF);
    color: var(--color-fg-inverse, #FFF);
    text-align: center;
    /* system/sans/medium/bold */
    font-family: var(--font-family-sans, Lato);
    font-size: var(--font-size-200, 18px);
    font-style: normal;
    font-weight: var(--font-weight-bold, 700);
    line-height: 150%; /* 27px */
    border: none;
    cursor: pointer;
  }

  .button-group {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    align-self: stretch;
  }
  
  /* Button types */
  
  button.secondary {
    border-radius: var(--border-radius-large, 50px);
    border: 1px solid var(--color-fg-border-muted, #7B7B7B);
    color: var(--color-fg-default, #272727);
    background-color: transparent;
    width: fit-content;
  }
  
  button.secondary:hover {
    background: lightgrey;
    cursor: pointer;
  }
  
  button.dashed {
    border-radius: 8px;
    border: var(--spacing-25, 2px) dashed var(--color-fg-border-muted, #7B7B7B);
    background: transparent;
    color: var(--color-fg-default, #272727);
    width: 250px;
    height: 250px;
    margin: 30px;
  
  }
  
  button.dashed:hover {
    background: lightgrey;
    cursor: pointer;
  }
  
  button.icon{
    background-color: transparent;
    color: var(--color-fg-default, #272727);
    width: 40px;
    height: 40px;
    border: 1px solid var(--color-fg-border-muted, #7B7B7B);
  }
  
  button.icon:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
    cursor: pointer;
  }
  
  /* Button sizes */
  
  button.small {
    padding: 8px 16px;
    font-size: 14px;
  }
  
  button.medium {
    padding: 12px 24px;
    font-size: 16px;
  }
  
  button.large {
    padding: 16px 32px;
    font-size: 18px;
  }